In [2]:
print("prova")
import numpy as np
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('t15783200300.csv',delimiter=";")

# Display the first few rows of the DataFrame
df

prova

,Unnamed: 0,Només català,Més català que castellà,Ambdues,Més castellà que català,Només castellà,Altres situacions,Total
0,Membres de la llar (1),34,"6,6","8,7","10,3","36,5","3,9",100
1,Amistats,"22,4","16,6","17,8","12,4","27,9","2,9",100
2,Veïns,"27,3","10,2","16,9","8,6","35,4","1,6",100
3,Companys d'estudi (2),"26,2","17,1","19,8","11,1","20,7","5,1",100
4,Companys de feina (3),"25,6","14,9","20,3","10,6","24,7","3,8",100
5,Petit comerç,"32,8","14,5","15,5","8,3","28,6","0,3",100
6,Gran comerç,30,"12,7",14,10,"31,8","1,5",100
7,Entitats financeres,"45,7","8,1",9,"4,7","30,9","1,7",100
8,Personal mèdic,"38,1","9,1","11,4",5,"35,7","0,8",100
9,Escriure notes personals,"28,6","3,6","6,1","4,1","53,8","3,8",100